<app-board-square [color]="'lightgreen'"></app-board-square>
<app-board-square [color]="'lightblue'"></app-board-square>
<app-board-square [color]="'lightpink'"></app-board-square>
<app-board-square [color]="'lightsalmon'"></app-board-square>
<app-board-square [color]="'lightcyan'"></app-board-square>
<app-board-square [color]="'lightyellow'"></app-board-square>

<app-board-square [color]="'lightgreen'"></app-board-square>
<app-board-square [color]="'lightblue'"></app-board-square>
<app-board-square [color]="'lightpink'"></app-board-square>
<app-board-square [color]="'lightsalmon'"></app-board-square>
<app-board-square [color]="'lightcyan'"></app-board-square>
<app-board-square [color]="'lightyellow'"></app-board-square>
